@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap");

$MainColor: #4044e6;
$SecondColor: #fff;
$LogoColor: #1a3c8d;
$FontColor: #ddd;

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 280px) {
    @content;
  }
} ;
