.sectionOne {
  width: 100vw;
  height: 70vh;
  position: relative;
  background-image: url("../img/home-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: visible;

  @include tablet {
    height: 50vh;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: $MainColor;
    opacity: 0.85;

    @include tablet {
      height: 100%;
    }
  }

  &__content {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: $FontColor;
    z-index: 2;

    @include tablet {
      width: 90%;
    }
  }

  &__dashboard {
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 45%;
      transform: translateX(-50%);
      z-index: 3;

      @include tablet {
        width: 90%;
        top: 80%;
      }
    }
  }
}

.sectionTwo {
  width: 100vw;
  min-height: 70vh;
  position: relative;
  text-align: center;

  &__title {
    max-width: 500px;
    margin-top: 30%;

    @include tablet {
      width: 90%;
      margin-top: 50%;
    }
  }

  &__subtitle {
    max-width: 600px;
    color: $FontColorLight;

    @include tablet {
      text-align: justify;
      padding: 10px 20px;
    }
  }

  &__boxes {
    width: 100%;
    margin-top: 3.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @include tablet {
      flex-direction: column;
    }
  }

  &__box {
    width: 33%;
    padding: 20px;
    color: black;

    @include tablet {
      width: 100%;
    }

    h3 {
      margin: 20px 0;
      font-size: 1.35rem;
    }

    p {
      color: $FontColorLight;
    }
  }
}

.sectionThree {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url("../img/sec3-background.png");
  background-position: center;
  background-size: cover;
  text-align: center;

  &__title {
    color: $MainColor;
    font-size: 1rem;
    padding-top: 20px;
    font-weight: bolder;

    @include tablet {
      padding-top: 50px;
    }
  }

  &__content {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 20%;
    left: 0;
    background-color: rgba(64, 68, 230, 0.7);
    color: $FontColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
      padding: 30px 30px;
      height: 70%;
    }

    i {
      margin-top: 50px;
      max-width: 1000px;
    }

    h3 {
      margin: 30px 0;
      font-size: 1rem;
      text-transform: uppercase;

      @include tablet {
        margin: 20px 0;
      }
    }

    P {
      margin: 0;
    }
  }

  &__gallery {
    position: relative;
    bottom: -20%;
    height: 200px;
    width: 730px;

    @include tablet {
      bottom: -100px;
      width: 600px;
    }

    img {
      position: absolute;
    }

    #img1 {
      top: 0;
      left: 0;
      z-index: 5;
    }

    #img2 {
      top: -10px;
      left: 150px;
      z-index: 1;
    }

    #img3 {
      top: -20px;
      left: 310px;
      z-index: 3;
    }

    #img4 {
      top: -20px;
      right: 50px;
      z-index: 5;
    }

    #img5 {
      top: -30px;
      right: 0px;
      z-index: 1;
    }
  }
}

.sectionFour {
  width: 100vw;
  height: 70vh;
  position: relative;
  text-align: center;
  padding-top: 30px;

  @include tablet {
    min-height: 100vh;
  }

  &__title {
    font-size: 1.25rem;
    color: $MainColor;
    font-weight: bolder;
  }

  &__subtitle {
    color: $FontColorLight;
  }

  &__banner {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: $MainColor;
    color: $FontColor;

    @include tablet {
      height: 40%;
    }
  }

  &__wrapper {
    max-width: 1300px;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0 auto;

    &::before {
      content: "WORKHARD";
      position: absolute;
      top: -40px;
      left: 10rem;
      font-size: 13rem;
      font-weight: bold;
      z-index: 0;
      color: $LogoColor;
      opacity: 0.4;

      @include tablet {
        left: -60px;
      }
    }
  }

  &__banner--left {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
    position: relative;
    padding: 10px 50px;

    @include tablet {
      width: 100%;
      text-align: left;
      padding: 10px 20px;
    }

    h1 {
      font-size: 1.8rem;
      font-weight: bolder;
    }

    button {
      padding: 10px 50px;
      background-color: white;
      border: none;
      outline: none;
      cursor: pointer;
      margin: 20px 0;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: -5px;
        width: 20px;
        height: 20px;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
      }

      &::after {
        content: "";
        position: absolute;
        top: -5px;
        right: -5px;
        width: 20px;
        height: 20px;
        border-right: 1px solid black;
        border-top: 1px solid black;
      }
    }
  }

  &__banner--right {
    width: 40%;
    height: 100%;
    position: relative;

    @include tablet {
      display: none;
    }

    img {
      height: 90%;
      position: absolute;
      bottom: 0;
      right: 0;
      object-position: bottom;
    }
  }
}

.footer {
  width: 100vw;
  background-color: #292935;
  color: $FontColor;
  padding: 50px;

  @include tablet {
    padding: 50px 20px 0px 20px;
  }

  &__top {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: left;

    @include tablet {
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
  }

  &__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
      width: 100%;
    }

    img {
      width: 150px;
    }

    p {
      width: 80%;
      padding: 30px 0;

      @include tablet {
        width: 100%;
        padding-right: 40px;
        text-align: justify;
        font-size: 0.9rem;
      }
    }
  }

  &__right {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    @include tablet {
      width: 100%;
      padding-right: 40px;
    }

    div {
      @include tablet {
        width: 50%;
      }
    }

    div:last-of-type {
      margin-left: 50px;

      @include tablet {
        margin-left: 20px;
      }
    }

    h2 {
      font-size: 1.6rem;
      margin: 0;
    }

    ul {
      list-style: none;
      padding: 20px 0;
      font-size: 0.9rem;

      li a {
        text-decoration: none;
        color: $FontColor;
        letter-spacing: 0.8px;
      }

      li a:hover {
        color: $MainColor;
      }
    }
  }

  &__bottom {
    width: 100vw;
    height: 50px;
    background-color: #24242e;

    @include tablet {
      font-size: 0.7rem;
    }

    .wrapper {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0px;

      p {
        margin: 0;
      }
    }
  }

  &__icons {
    @include tablet {
      display: none;
    }
    .svg-inline--fa {
      color: grey;
    }
    .svg-inline--fa:hover {
      color: $MainColor;
    }
  }
}
